body #container {
	width: 80%;
	margin: 0 auto;
}

h1, h2{font-family: 'Helvetica', sans-serif;}
header hgroup h1{color: #7ea5e2;}
main h3 a{color: #C51;}

#copyright{font-size: 0.8em; font-family: "Book Antiqua", serif;}